<!DOCTYPE html>
{% load cust_filters %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UPPER VIEW </title>
  </head>
  <body>
       <h1>The data in upper_view is: </h1>

        {% for d in data %}
           <ul>
                <li>{{d.name|truncate:5}}</li> <!--custom filter ...you can give any value in argumrnt -->
                <li>{{d.location|add:"  i  am  using |add filter "}}</li>
                <li>{{d.date|date:"d-m-Y"}}</li>
           </ul><hr>

        {% endfor%}
  </body>
</html>
